<nav class="navbar navbar-expand bg-dark-subtle">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'home' %}"><strong>Account App</strong>
        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</nav>